.label {
  font-weight: var(--font-weight-700);
  line-height: var(--line-height-default);
  color: var(--color-grayish);
}

.fs-xsm {
  font-size: var(--font-size-xsm);
}

.fs-normal {
  font-size: var(--font-size-normal);
}

.default-color {
  color: var(--color-grayish);
}

.success-color {
  color: var(--color-green);
}

.focus-color {
  color: var(--color-grayish-medium);
}
