.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 588px;
  padding: 32px;
  border-radius: 12px;
  background-color: var(--color-whiteish);
  gap: 28px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    color: var(--color-black);
  }

  .button {
    gap: 8px;
    border-radius: 64px;
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;

  .label {
    font-size: var(--font-size-lg);
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 26px;

    .insideContent {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;

      .submittedTxn {
        color: var(--color-green);
        font-weight: var(--font-weight-600);
        text-decoration-line: underline;
        font-size: var(--font-size-lg);
      }

      button {
        background-color: #0062FF;
        cursor: pointer;

        &:hover {
          background-color: #054ADA;
          transition: all .3s ease-in-out;
        }
      }
    }
  }
}

.accountContainer {
  display: flex;
  gap: 6px;

  .account {
    color: var(--color-black);
    font-weight: var(--font-weight-600);
  }
}
