@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import 'config/theme/css-variables.css';
@import '@stellar/design-system/build/styles.min.css';

body {
  margin: 0;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background: #eeedef;
  line-height: auto;
}

p:not(:last-child) {
  margin-bottom: 0;
}

input,
textarea,
button {
  font-family: inherit;
  line-height: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input:focus::placeholder {
  color: transparent;
}

.ButtonIcon--left {
  margin-right: 0;
}

.ButtonIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

iframe {
  z-index: -1 !important;
}

.Toastify__toast-container {
  top: 6em;
}

button:focus-visible {
  border-color: none;
}

.ReactModal__Overlay {
  z-index: 99999 !important;
}